body {
  font-family: 'Marck Script', cursive;
  font-size: 20px;
}
.bg {
  background: url('../img/bg-ray.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.paper {
  background: url('../img/paper.jpg') repeat;
}
.card {
  -webkit-box-shadow: -7px 4px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 4px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 4px 50px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  margin-top: 12%;
  margin-bottom: 50px;
  width: 370px;
  max-width: 100%;
  background-color: #F5F2E7;
  border-radius: 2px;
  max-width: 90%;
}
.card .old-time {
  text-decoration: line-through;
}
.card #p {
  display: none;
}
.card .content {
  padding: 50px 20px;
}
.card .img {
  max-width: 40%;
}
.card .curly {
  min-height: 20px;
  background: url('../img/curly.gif') no-repeat 50% 50%;
  margin: 20px;
}
